<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ip_stack_api_creds_tab" translate="label" sortOrder="55">
            <label>IP Stack API Credentials</label>
        </tab>
        <section id="ip_stack_api_section" translate="label" sortOrder="140" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>ip_stack_api_creds_tab</tab>
            <resource>Firewalls_ExtMagentoTwoFactorAuth::configuration</resource>
            <group id="ip_stack_api_group" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>IP Stack API Access Key</label>
                <field id="ip_stack_api_access_key" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>API Access Key</label>
                </field>
            </group>
        </section>
    </system>
</config>
